@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");


*{
	scroll-behavior: smooth;
}
html {
	font-size: 10px;
}
body {
	font-family: "Neucha", cursive;
}
header,
main,
footer {
	max-width: 72rem;
	margin: 0 auto;
	font-size: 2rem;
}

a {
	color: #000 !important;
	text-decoration: none;
}
h3{
	padding-top: 4rem;
	font-size: 3.5rem;
	text-align: center;
}

.header {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.header__vacancy {
	margin: 0;
	font-size: 6rem;
	text-align: center;
}
.header__name {
	font-size: 4rem;
	text-align: center;
}
.header__person {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 6rem;
}
.header__image {
	width: 35rem;
	height: 35rem;
	border-radius: 50%;
}
.header__info {
	font-size: 2.4rem;
}

.header__menu {
	font-size: 2.4rem;
	display: flex;
	justify-content: space-around;
	margin-bottom: 4rem;
}
.header__menu-el {
	font-size: 2.5rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.75s ease all;
	font-weight: 900;
	width: 17%;
	text-align: center;
	height: 5rem;
	border:3px solid rgba(0, 0, 0, 0.137);
	border-radius: 4rem;
	box-shadow: 0px 2px 2px rgba(100, 0, 0, 0.445);
}

.header__menu-el:hover {
	font-size: 2.4rem;
	color: transparent;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	box-shadow: 0px 0px 0px rgba(100, 0, 0, 0.445);
}


.skills__items{
	font-size: 2.5rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.skills__item span {
	opacity: 0.5;
}
.skills__item{
	color: rgba(85, 3, 0, 0.74);
	text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.603);
	width: 50%;
	list-style-type: none;
}

.project__item{
	list-style-type: none;
	margin-bottom: 2rem;
	border:4px solid rgba(0, 0, 0, 0.082);
	border-radius: 4rem;
	transition: 1s ease all;
}

.project__item:hover{
	box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
	}

.project__item a div{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.project__item a div p {
	font-size: 4rem;
	padding-left: 2rem;
}

.project__item a div img {
	position: relative;
	border-radius: 4rem;
	width: 30rem;
	height: 17.5rem;
	transition: 1s ease all;
	left: 0;
}

.project__item:hover a div img{
left: -15rem;
transform: scale(2.5);
border-radius: 0rem;
z-index: 10;
}
.languages__items{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.language__item{
	text-align: center;
	width: 45%;
	
}
.language{
	margin-bottom: 8rem;
}
.language__name{
	font-size: 2rem;
}
.language__level{
	margin: 0 auto;
	width: 10rem;
	height: 10rem;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size: 3rem;
	box-sizing: border-box;
	border: 1px solid rgba(0, 0, 0, 0.521);
	border-radius: 50%;

}
.main__element .language:nth-child(1) .language__level{
	background-image: url('/image/poland.png');
	background-size: contain;
}
.main__element .language:nth-child(2) .language__level{
	background-image: url('/image/unEnglish.png');
	background-size: contain;
}
.main__element .language:nth-child(3) .language__level{
	background-image: url('/image/russian.png');
	background-size: contain;
}
.main__element .language:nth-child(4) .language__level{
	background-image: url('/image/belarusian.png');
	background-size: contain;
}
.footer__rss{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__contact{
	display: flex;
}
.footer__icon{
	width: 12rem;
	height: 6rem;
}